{% extends 'base.html.twig' %}

{% block title %} Progica - Page de création d'annonce!{% endblock %}

{% block body %}
    <hr/>
    <hr/>
    <hr/>
    <h1>Veuillez rédiger votre annonce</h1>

    {{ form(form) }}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
{% endblock %}


