{% extends 'base.html.twig' %}

{% block title %} Modiefier mon mot de passe - Progica {% endblock %}

{% block body %}
    <h1>Modification de mot de passe</h1>
    <a href="{{ path('app_account_password') }}">Modifier mon mot de passe</a><br/>
    <hr>
    {% if notification %}
        <div class="alert-info">{{ notification }}</div>
    {% endif %}
    {{ form(form) }}



{% endblock %}