{% extends 'base.html.twig' %}


{% block body %}

<div class="container">
    <div class="row">
        <div class="col m6-offset-m3">
            <div class="example-wrapper">
                <h1>Page de résultats</h1>
                <div class="form-btn">
                    <a href="{{ path('test_vue_aurelie') }}" class="submit-btn">Voir plus de details</a>

                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

